Package: com.wordpress.mobilecoder.touchplayer
Version: 1.0.4
Section: misc
Priority: optional
Architecture: all
Depends: ca.canucksoftware.filemgr
Maintainer: Zachary Burke
Description: TouchPlayer
Source: {"Homepage":"http://mobilecoder.wordpress.com","Category":"Multimedia","LastUpdated":"","License":"MIT","Type":"Application","FullDescription":"A video player for the Touchpad that will play virtually any file format.  Source available at: https://github.com/error454/TouchPlayer *NOTE* A Luna restart is required after installation.","PostRemoveFlags":"","PostUpdateFlags":"","Icon":"icon.png","Title":"TouchPlayer Service","PostInstallFlags":"RestartLuna"}
